@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta charset="UTF-8">
    <title>CSV File</title>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form asp-action="ReadFile" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="file" class="form-label">Upload CSV File</label>
            <input type="file" name="file" id="file" class="form-control" accept=".csv" required />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>