
.menu-index .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.menu-index table {
    th, td {
        vertical-align: middle;
        padding: 0.25rem 0.5rem;
    }
}

.menu-index table th {
    text-align: center;
}

.menu-index table td:last-child {
    text-align: center;
    text-wrap: nowrap;
}

.menu-index table td:first-child {
    width: 100%;
}

.menu-index .btn-outline-secondary {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.menu-index .btn-outline-secondary:hover {
    background-color: var(--color-opacity-2);
    color: #000000;
    border-color: #999;
}

.menu-index .btn-outline-secondary i {
    font-size: 1.1rem;
}

.spinner-container {
    padding: 0.45rem;
}

/* Section Update Menu Item */

.update-menu-item {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem 2rem;
}

.update-item-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
}
