
/* Inventory Items */
.inventory-items .search-bar {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 1rem;

}

.inventory-items table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;

    th, td {
        vertical-align: middle;
        padding: 0.25rem 0.5rem;
        white-space: nowrap; /* Prevent content wrapping */
    }

    /* Make the second column stretch */
    th:nth-child(2),
    td:nth-child(2) {
        width: 100%;
        white-space: normal; /* Allow wrapping if needed */
    }

    /* Keep the last column tight around the buttons */
    th:last-child,
    td:last-child {
        text-align: center;
        white-space: nowrap;
        width: 1%;
    }
}

.btn-outline-secondary {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: var(--color-opacity-2);
    color: #000000;
    border-color: #999;
}

.btn-outline-secondary i {
    font-size: 1.1rem;
}

#detailsModal {
    & .modal-dialog {
        max-width: 900px !important;
    }
}

/* Groups editing */
/* Smooth transition for the collapsing div */
.groups-table th, td {
    font-size: 0.9rem;
    vertical-align: middle;
}
.transition-height {
    overflow: hidden;
    transition: all 0.6s ease;
}

/* Optional: remove border between the main row and collapsing row */
.no-border td {
    border-top: none !important;
}

.expandable-row td:first-child::before {
    content: "▶";
    display: inline-block;
    margin-right: 6px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
    color: #6c757d;
}
.expandable-row[aria-expanded="true"] td:first-child::before {
    transform: rotate(90deg); /* Arrow rotates when expanded */
}

