<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Клиентско обслужване и консултация</h2>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Консултация преди поръчка
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li><strong>Е-Матрикс ООД</strong> предлага възможност за консултация със
                        специалист относно технически характеристики, наличности, монтаж, експлоатация и други, преди
                        извършване на поръчка.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q2" data-bs-toggle="collapse" aria-expanded="false">
            Начини за контакт
        </div>
        <div class="collapse" id="q2">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>По телефон: 0878 78 36 35</li>
                    <li>По имейл: <a href="mailto:info@e-matrix.bg" style="white-space: nowrap;"><strong>info@e-matrix.bg</strong></a></li>
                    <li>Чрез <a href="#" onclick="loadPartial()">формата</a> за контакт в сайта</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q3" data-bs-toggle="collapse" aria-expanded="false">
            Работно време на консултантите
        </div>
        <div class="collapse" id="q3">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Понеделник – Петък: 09:00 – 18:30 ч. (с изключение на официалните празници)</li>
                    <li>Събота и Неделя: Почивни дни</li>
                    <li><strong>Извън работно време:</strong> Можете да се свържете с нас чрез <a href="#" onclick="loadPartial()">формата</a> за контакт или по имейл: <a href="mailto:info@e-matrix.bg" style="white-space: nowrap;"><strong>info@e-matrix.bg</strong></a>. Ще Ви отговорим при първа възможност в рамките на работното време.</li>
                </ul>
            </div>
        </div>
    </div>
</div>