<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Отказ от поръчка</h2>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Право на отказ от договор от разстояние
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>
                        <strong>ВАЖНО:</strong> Потребителят има право да се откаже от договора от разстояние или
                        договора извън търговски обект без да посочва причина и без да заплаща разходи, освен
                        предвидените в чл. 54, ал. 3 и чл. 55 от ЗЗП.
                    </li>
                    <li>
                        Срокът за отказ е <strong>14 дни</strong>, считано от датата на:
                        <ol type="1">
                            <li><strong>Сключване на договора</strong> – при договор за услуги;</li>
                            <li>
                                <strong>Приемане на стоките</strong> от потребителя или от трето лице (различно от
                                превозвача и посочено от потребителя) – при договор за продажба:
                                <ol type="a">
                                    <li>Когато са поръчани много стоки с една поръчка и се доставят поотделно – от
                                        датата на приемане на последната стока;
                                    </li>
                                    <li>При доставка на стока, състояща се от множество партиди или части – от датата на
                                        приемане на последната партида или част;
                                    </li>
                                    <li>При редовна доставка на стоки за определен период – от датата на приемане на
                                        първата стока.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q2" data-bs-toggle="collapse" aria-expanded="false">
            Право на отказ при липса на наличност
        </div>
        <div class="collapse" id="q2">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>При поръчка на стока, която към момента на поръчката не е налична в склада на E-МАТРИКС ООД,
                        потребителят има право да се откаже от договора от разстояние или от договора извън търговския
                        обект, без да посочва причина.
                    </li>
                    <li>Потребителят не дължи обезщетение или неустойка при отказа.</li>
                    <li>Правото на отказ важи в срок от <strong>14 дни</strong>, считано от датата, на която
                        потребителят или трето лице, различно от превозвача и посочено от него, е влязло във владение на
                        стоките.
                    </li>
                    <li>При договори, където са поръчани много стоки с една поръчка, срокът започва да тече от датата,
                        на която потребителят или трето лице, различно от превозвача и посочено от него, е влязло във
                        владение на последната стока.
                    </li>
                    <li>Тези права се предоставят съгласно разпоредбите на Закона за защита на потребителите.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q3" data-bs-toggle="collapse" aria-expanded="false">
            Упражняване право на отказ
        </div>
        <div class="collapse" id="q3">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>За да упражни правото си на отказ, потребителят трябва да уведоми <strong>E-matrix.bg</strong> с недвусмислено заявление за отказ от договора (например писмо по електронна поща или формуляр на сайта).</li>
                    <li>Уведомлението трябва да съдържа имената на потребителя, географския му адрес, телефонен номер (ако има) и електронен адрес.</li>
                    <li>Потребителят може да използва стандартния формуляр за отказ, наличен на сайта, но това не е задължително.</li>
                    <li>Потребителят може да попълни и подаде формуляра или друго недвусмислено заявление по електронен път чрез сайта <strong>E-matrix.bg</strong>.</li>
                    <li>При използване на тази възможност, <strong>E-matrix.bg</strong> незабавно ще изпрати на траен носител или по електронна поща потвърждение за получаването на заявлението.</li>
                    <li>За да бъде спазен срокът за отказ, е достатъчно потребителят да изпрати заявлението си преди изтичането на срока за отказ от договора.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q4" data-bs-toggle="collapse" aria-expanded="false">
            Процедура за възстановяване на плащания при отказ от договора
        </div>
        <div class="collapse" id="q4">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>В случай, че потребителят се откаже от договора, <strong>E-matrix.bg</strong> ще възстанови всички плащания, които е получило, включително разходите за доставка (с изключение на допълнителни разходи, свързани с избран от потребителя начин на доставка, различен от най-евтиния стандартен начин на доставка, предлаган от <strong>E-matrix.bg</strong>).</li>
                    <li>Възстановяването ще бъде извършено без неоправдано забавяне и във всички случаи не по-късно от <strong>14 дни</strong> считано от датата, на която потребителят информира <strong>E-matrix.bg</strong> за решението си за отказ от договора.</li>
                    <li>С приемането на настоящите общи условия, Потребителят изрично се съгласява възстановяването на заплатената от него сума да се извършва по предоставена от него банкова сметка.</li>
                    <li><strong>E-matrix.bg</strong> има право да отложи възстановяването на плащанията до получаване на стоките обратно или докато не бъдат представени доказателства, че стоката е изпратена обратно, в зависимост от това, кое от двете събития е настъпило по-рано.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q5" data-bs-toggle="collapse" aria-expanded="false">
            Процедура за връщане на стоки
        </div>
        <div class="collapse" id="q5">
            <div class="card card-body">
                <ul class="policy-list">
                    <li> Потребителят следва да изпрати на <strong>E-matrix.bg</strong> или да върне обратно стоките без неоправдано забавяне и във всички случаи не по-късно от <strong>14 дни</strong> след деня, в който е информирал <strong>E-matrix.bg</strong> за отказа си от договора.</li>
                    <li> Срокът се счита за спазен, ако потребителят изпрати обратно стоките на <strong>E-matrix.bg</strong> преди изтичането на <strong>14-дневния срок.</strong></li>
                    <li>Преките разходи по връщане на стоката са за сметка на Потребителя.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q6" data-bs-toggle="collapse" aria-expanded="false">
            Отговорности на потребителя при връщане на стоки
        </div>
        <div class="collapse" id="q6">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Стоката следва да бъде върната в оригинална опаковка в нейната цялост, пълна окомплектовка с придружаващата я документация и без увреждания, във вида в който е получена.</li>
                    <li> <strong>E-matrix.bg</strong> запазва правото си, в случай, че върнатата стока е с увредена опаковка, следи от употреба, драскотини, удари, увредена от токов удар, с липсващи аксесоари, гаранционна карта, да прецени дали да приеме върнатата стока.</li>
                    <li>Потребителят отговаря за намаляване стойността на стоките, вследствие на изпробването им, различно от необходимото за установяване на тяхното естество, характеристики и добро функциониране.</li>
                    <li>Когато потребителят упражни правото си на отказ, той заплаща пропорционалната сума на това, което действително му е било предоставено до момента, в който е уведомил <strong>E-matrix.bg</strong> за упражняване правото на отказ.</li>
                    <li>Пропорционалната сума се изчислява въз основа на крайната цена. Ако крайната цена е прекомерно висока, пропорционалната сума се изчислява въз основа на пазарната стойност на това, което действително е било предоставено.
                    </li>
                    <li>
                        Отказ от някои видове закупени стоки може да бъде упражнен, съгласно разпоредбите на Закона за защита на потребителите и при следните условия:
                        <ol>
                            <li>
                                Мултифункционални устройства и консумативите към тях следва да бъдат върнати от потребителя в пълна комплектовка и ненарушена опаковка на консумативите (сонди, поялници, консумативи и др.).
                            </li>
                            <li>
                                В случай, че целостта на опаковката на съответния консуматив е нарушена, потребителят може да упражни правото си на отказ от закупени станции и/или мултифункционални устройства и консумативите към тях, като следва да заплати за своя сметка стойността на консуматива с нарушена опаковка.
                            </li>
                        </ol>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>