<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Поръчки и плащания</h2>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Процедура по извършване на поръчка
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Потребителите имат възможност да разглеждат свободно продуктите, публикувани на уебсайта.</li>
                    <li>Добавянето на избрани продукти в количката се извършва чрез натискане на бутона <strong>„Добави
                            в количка“</strong>, позициониран на съответната продуктова страница.
                    </li>
                    <li>В горната част на уебсайта (хедъра) е разположена икона за бърз достъп до количката,
                        предоставяща визуализация на текущото ѝ съдържание без пренасочване към нова страница.
                    </li>
                    <li>Чрез натискане на бутона <strong>„Преглед“</strong>, потребителят се пренасочва към отделна
                        страница с пълен преглед на всички добавени продукти, включително информация относно количество,
                        цена и визуализация.
                    </li>
                    <li>От същата страница ще бъде предоставена възможност за преминаване към завършване на поръчката,
                        чрез въвеждане на необходимата информация за доставка и избор на метод за плащане.
                    </li>
                    <li>След потвърждаване на поръчката, потребителят ще бъде уведомлен за нейното потвърждение
                        посредством обаждане на посочения телефонен номер или чрез електронна поща, според
                        предоставените от него данни.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q2" data-bs-toggle="collapse" aria-expanded="false">
            Наличност и отказ от доставка
        </div>
        <div class="collapse" id="q2">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>ТЪРГОВЕЦЪТ си запазва правото да откаже изпълнение на вече потвърдена поръчка при липса на
                        наличност.
                    </li>
                    <li>При изчерпана стока, клиентът ще бъде уведомен в рамките на работната седмица чрез съобщение на
                        електронната поща или телефон.
                    </li>
                    <li>Ако вече е извършено плащане, клиентът има възможност да избере между:
                        <ol>
                            <li>възстановяване на заплатената сума,</li>
                            <li>отказ от поръчката,</li>
                            <li>заместваща поръчка.</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q3" data-bs-toggle="collapse" aria-expanded="false">
            Методи за плащания при онлайн поръчки
        </div>
        <div class="collapse" id="q3">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Цената на поръчана от онлайн магазина стока може да бъде заплатена чрез един от следните
                        способи:
                        <ol>
                            <li>Наложен платеж</li>
                            <li>Плащане с банкова карта</li>
                            <li>Банков превод</li>
                            <li>В брой (налично само при избрана опция: <strong>„Вземи от магазин“</strong>)</li>
                        </ol>
                    </li>
                    <li>Моля, имайте предвид, че в определени случаи е възможно някой от изброените способи да не е
                        приложим.
                    </li>
                    <li>Всички плащания се извършват само в български лева.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q4" data-bs-toggle="collapse" aria-expanded="false">
            Предварително заплащане на поръчки
        </div>
        <div class="collapse" id="q4">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>
                        С приемането на настоящите общи условия купувачът дава своето изрично и безусловно съгласие във всички изброени случаи да заплаща на <strong>Е-Матрикс ООД</strong> авансово, в пълен размер, продажната цена на всяка поръчана стока.
                        <ul>
                            <li>Банков превод</li>
                            <li>Плащане с банкова карта</li>
                            <li>В брой (при избор на опция „Вземи от магазин“)</li>
                        </ul>
                    </li>
                    <li>
                        Изключение прави методът <strong>„Наложен платеж“</strong>, при който купувачът заплаща цялата
                        дължима сума (включително стойността на стоката и разходите за доставка) директно на куриера при
                        получаване на поръчката.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q5" data-bs-toggle="collapse" aria-expanded="false">
            Плащане с наложен платеж
        </div>
        <div class="collapse" id="q5">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>При избор на метод на плащане чрез <strong>„Наложен платеж“</strong>, купувачът заплаща пълната дължима сума при получаването на пратката.</li>
                    <li>Купувачът овластява куриера да приеме сумата от негово име и за негова сметка, за да я предаде на <strong>Е-Матрикс ООД</strong>.</li>
                    <li>Пълната сума включва:
                        <ul>
                            <li>цената на стоката;</li>
                            <li>цената за обработване и доставка.</li>
                        </ul>
                    </li>
                    <li>Купувачът получава от куриера фактура или касова бележка, в която е посочена точната дължима сума.</li>
                    <li>Плащането се извършва директно на куриера и се удостоверява в документа за предаване на стоката, който служи и като официална разписка.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q6" data-bs-toggle="collapse" aria-expanded="false">
            Плащане с банкова карта / банков превод
        </div>
        <div class="collapse" id="q6">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>При плащане с банков превод цялата дължима сума по фактурата трябва да бъде заплатена в срок до
                        5 работни дни след издаване на фактурата; в противен случай поръчката ще бъде автоматично
                        анулирана.
                    </li>
                    <li><strong>ВАЖНО !!!</strong> При плащане с банков превод/банкова карта може да Ви бъдат начислени
                        банкови такси/комисионни, определяни едностранно от съответната банка/финансова институция.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q7" data-bs-toggle="collapse" aria-expanded="false">
            Опция „Вземи от магазин“ – условия и начин на плащане
        </div>
        <div class="collapse" id="q7">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Всеки клиент на <strong>Е-Матрикс ООД</strong> има възможност да направи поръчка през нашия
                        онлайн магазин и да избере опция: “Вземи от магазин”.
                    </li>
                    <li>Ако изберете тази опция, може да заплатите поръчката си директно онлайн или на каса в нашия
                        физически магазин, намиращ се в гр.Варна, Калофер 1 (вход на магазина към бул. „Владислав
                        Варненчик“ 140), при получаване на стоката.
                    </li>
                    <li><strong>ВАЖНО!!!</strong> Моля, имайте предвид, че след като завършите своята онлайн поръчка с
                        опция: ” Вземи от магазин “, наш консултант ще се свърже с Вас по телефон за уточняване на
                        детайли по изпълнението й, както и час, в който ще бъде готова.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q8" data-bs-toggle="collapse" aria-expanded="false">
            Издаване и корекция на фактури
        </div>
        <div class="collapse" id="q8">
            <div class="card card-body">
                <ul class="policy-list">
                    <li><strong>Съгласно чл.113, ал.4 от ЗДДС</strong>, издаването на фактура или извършването на корекция по вече издадена фактура трябва да се осъществи в срок до <strong>5 (пет) календарни дни</strong> от датата на покупката.</li>
                    <li>След изтичане на този срок, <strong>Е-Матрикс ООД</strong> няма задължение за издаване на нова фактура или извършване на корекции по вече издадена такава.</li>
                </ul>
            </div>
        </div>
    </div>
</div>