
<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Политика на защита на личните данни</h2>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Политика за личните данни
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Поверителността и сигурността на личните данни на нашите клиенти винаги е била от първостепенно значение за нас. Поради тази причина създадохме настоящата единна Политика за защита на личните данни на E-МАТРИКС ООД, която обхваща начина, по който събираме, използваме, съхраняваме, разкриваме и изтриваме, или най-общо „обработваме“, данните Ви.</li>
                    <li>Единната Политика за защита на личните данни ни позволява да осигурим еднакво високо ниво на защита на всички ползватели на E-matrix.bg.</li>
                    <li>Вашите данни, предоставени при създаването на акаунт или при направа на поръчка, ще бъдат записани в единна база данни на Е-МАТРИКС ООД   („Администратор/а/ът“) и в тази връзка предоставянето на съгласие с Общите условия, неразделна част от които е настоящата Политика за защита на личните данни, се счита за съгласие предоставените в акаунта Ви данни да бъдат свободно обменяни между Е-МАТРИКС ООД. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q2" data-bs-toggle="collapse" aria-expanded="false">
            Събиране и използване на лични данни
        </div>
        <div class="collapse" id="q2">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Лични данни са всяка информация, която може да бъде използвана за идентифициране на дадено лице.</li>
                    <li>Възможно е да Ви бъде поискана лична информация всеки път, щом влезете във връзка с нас или с наши партньори с оглед предоставянето на продуктите и услугите ни.</li>
                    <li>Единствено при спазването на настоящата Политика за защита на личните данни и всички приложими законови разпоредби Администраторът и неговите партньори могат да споделят тази информация помежду си и да я използват.</li>
                    <li>Вашите лични данни се обработват единствено на територията на Република България, само за срока и за целите, за които са предоставени.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q3" data-bs-toggle="collapse" aria-expanded="false">
            Какви лични данни събираме
        </div>
        <div class="collapse" id="q3">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Когато регистрирате акаунт, купувате продукт и др., можем да събираме различни видове информация, включително, но не само име, пощенски адрес, телефонен номер, email, предпочитан начин на комуникация, информация за банкова карта или др.</li>
                    <li>В случаите, в които е необходимо издаването на определени документи, например фактура, е възможно да Ви бъдат поискани и допълнителни данни съгласно изискванията на нормативната уредба.</li>
                    <li>Съхраняваме история на поръчките, направени от всеки регистриран на сайта акаунт.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q4" data-bs-toggle="collapse" aria-expanded="false">
            Как използваме личните данни
        </div>
        <div class="collapse" id="q4">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Обработваме личните Ви данни, за да изпълним задълженията си като страна по договор за продажба на стоки или услуги. Възможно е периодично да ги използваме за да изпращаме важни съобщения като известия относно направени поръчки, промени в Общите условия или други правила.</li>
                    <li>В случай, че сте заявили съгласие, обработваме Вашите данни, за да Ви информираме за актуални промоции и рекламни активности. Веднъж заявено съгласие по всяко време може да бъде оттеглено.</li>
                    <li>В случай, че сте заявили съгласие за участие в определени събития (конкурс, томбола, игра и др.) обработваме предоставените ни от Вас данни, за да администрираме тези активности.</li>
                    <li>Предоставените при кандидатстване за работа данни ще бъдат използвани единствено за целите на подбор и преценка на пригодността на кандидата за съответната позиция.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q5" data-bs-toggle="collapse" aria-expanded="false">
            Разкриване пред трети страни
        </div>
        <div class="collapse" id="q5">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>В дадени случаи, с цел изпълнението на задълженията ни по сключени с Вас договори или на законови такива, е необходимо или ще бъдем задължени да разкриваме предоставени от Вас лични данни пред наши партньори (напр. транспортни, куриерски, сервизни, монтажни фирми, финансови институции, застрахователи и др.) или пред компетентни органи.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q6" data-bs-toggle="collapse" aria-expanded="false">
            Защита на личните данни
        </div>
        <div class="collapse" id="q6">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Администраторът взима предпазни мерки, включващи административни, технически и физически мерки, за да защити личните ви данни от загуба, кражба и злоупотреба, както и от неоторизиран достъп, разкриване, промяна или унищожаване.</li>
                    <li>Когато публикувате във форуми, чат стаи или услуги на социални мрежи, личната информация, която споделяте, е видима за други потребители и може да бъде четена, събирана или използвана от тях. В тези случаи Вие носите отговорност за личната информация, която изберете да предоставите.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q7" data-bs-toggle="collapse" aria-expanded="false">
            Цялост и задържане на личните данни
        </div>
        <div class="collapse" id="q7">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Ще задържим личните Ви данни за период, необходим за изпълнението на конкретната цел, за която същите се обработват, след което ще бъдат изтрити, освен ако нормативен акт изисква да ги задържим за по-дълъг период.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q8" data-bs-toggle="collapse" aria-expanded="false">
            Права на субекта на лични данни
        </div>
        <div class="collapse" id="q8">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Можете да проверите точността, пълнотата и актуалността на личните си данни, както и да ги коригирате, като се свържете с нас или ни пишете на имейл <a href="mailto:info@e-matrix.bg" style="white-space: nowrap;"><strong>info@e-matrix.bg</strong></a>.</li>
                    <li>Ако искате да оттеглите съгласието си за обработване на лични данни, да заявите корекция, да възразите срещу тяхното обработване или да поискате данните Ви да бъдат изтрити („правото да бъдеш забравен“), следва да изпратите искане в този смисъл с имейл до <a href="mailto:info@e-matrix.bg" style="white-space: nowrap;"><strong>info@e-matrix.bg</strong></a>.</li>
                    <li>С оглед избягване на злоупотреби, искания с горното съдържание ще бъдат разглеждани само ако са изпратени от имейла, използван за регистрацията на акаунта, като запазваме правото си да поискаме допълнителни данни с оглед установяване идентичност на подалия искането и субекта на данните, за който се отнася.</li>
                    <li>На подадени искания относно лични данни ще бъде отговорено в едномесечен срок, а в случай на необходимост от удължаване на посочения срок ще бъдете информирани за удължаването, както и за причините за забавянето. Можем да откажем да обработваме искания, които се повтарят неоснователно или застрашават поверителността на други потребители. Във всички случаи имате право да подадете жалба до Комисия за защита на личните данни, , София 1592, бул. „Проф. Цветан Лазаров” № 2.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
