<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Доставка с куриер</h2>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Доставки на територията на Република България
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Транспортът в рамките на Република България се калкулира според цената* на поръчаните стоки.
                    </li>
                    <li>Цената на доставката в рамките на Република България се изчислява според тарифите на куриерската
                        компания, в зависимост от стойността, теглото и обема на поръчката.
                    </li>
                    <li><strong>Е-Матрикс ООД</strong> си запазва правото да актуализира условията за доставка при
                        промяна на тарифите или политиките на използваната куриерска фирма.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q2" data-bs-toggle="collapse" aria-expanded="false">
            Доставки извън територията на Република България
        </div>
        <div class="collapse" id="q2">
            <div class="card card-body">
                <ul class="policy-list">
                    <li> В случай, че стоките се изпращат извън територията на Република България, потребителят/клиентът
                        следва да заплати всички митнически и др. такси, свързани с износа.
                    </li>
                    <li>Цената на доставката извън рамките на Република България се изчислява според тарифите на куриерската
                        компания, в зависимост от стойността, теглото и обема на поръчката.
                    </li>
                    <li><strong>Е-Матрикс ООД</strong> си запазва правото да актуализира условията за доставка при
                        промяна на тарифите или политиките на използваната куриерска фирма.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q3" data-bs-toggle="collapse" aria-expanded="false">
            Куриерски услуги
        </div>
        <div class="collapse" id="q3">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Доставките по подразбиране се извършват чрез куриерска фирма Спиди.</li>
                    <li>Клиентите могат да използват <a href="https://www.speedy.bg/calculate/" target="_blank" rel="noopener">калкулатора на Спиди</a>, за да изчислят ориентировъчната стойност на доставката според параметрите на пратката.</li>
                    <li>Клиентът има право да избере алтернативна куриерска компания, като в този случай се прилагат
                        нейните актуални тарифи и условия за доставка.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q4" data-bs-toggle="collapse" aria-expanded="false">
            Условия за промяна на цените
        </div>
        <div class="collapse" id="q4">
            <div class="card card-body">
                <ul class="policy-list">
                    <li><strong>Е-Матрикс ООД</strong> си запазва правото да актуализира цените за доставка при промени в условията на куриерските фирми или други външни фактори.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q5" data-bs-toggle="collapse" aria-expanded="false">
            Статус на поръчка
        </div>
        <div class="collapse" id="q5">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>За още по-голяма сигурност и безопасност при пазаруване от онлайн магазина на <strong>Е-Матрикс ООД</strong>,ви даваме възможност да следите за статуса на направените поръчки.
                    </li>
                    <li>За клиенти с регистрация е необходимо да цитират номер на поръчка (изпратен на email, след успешно финализиране на поръчката), на национален телефон: 0878783635.</li>
                    <li>По този начин можете да получавате актуална информация за статуса на обработване на поръчката ви, включително да се информирате дали куриера е приел пратката, какъв е номера на товарителницата и друга информация.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q6" data-bs-toggle="collapse" aria-expanded="false">
            Проследяване на пратка
        </div>
        <div class="collapse" id="q6">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>За още по-голяма сигурност и безопасност при пазаруване от онлайн магазина на <strong>Е-Матрикс ООД</strong>,ви даваме възможност да проследитестатуса на направените поръчки по товарителница.
                    </li>
                    <li>При поискване от ваша страна, в писмен вид или по телефон, на посочения от Вас имейл ще ви бъде изпратен номер на товарителница, с която ще бъде доставена пратката ви.</li>
                    <li>Според фирмата куриер по подразбиране – <strong>Спиди</strong>, клиентите могат да проследят местонахождението на своята пратка по всяко време чрез номера на товарителницата, използвайки следния линк: <a href="https://www.speedy.bg/bg/track-shipment" target="_blank" rel="noopener">https://www.speedy.bg/bg/track-shipment</a>.</li>
                </ul>
            </div>
        </div>
    </div>
</div>