<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Общи условия</h2>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Политика за личните данни
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Поверителността и сигурността на личните данни на нашите клиенти винаги е била от първостепенно значение за нас. Поради тази причина създадохме настоящата единна Политика за защита на личните данни на <strong>Е-Матрикс ООД</strong>, която обхваща начина, по който събираме, използваме, съхраняваме, разкриваме и изтриваме, или най-общо „обработваме“, данните Ви.</li>
                    <li>Единната Политика за защита на личните данни ни позволява да осигурим еднакво високо ниво на защита на всички ползватели на <strong>E-matrix.bg</strong>.</li>
                    <li>Вашите данни, предоставени при създаването на акаунт или при направа на поръчка, ще бъдат записани в единна база данни на <strong>Е-Матрикс ООД</strong> („Администратор/а/ът“) и в тази връзка предоставянето на съгласие с Общите условия, неразделна част от които е настоящата Политика за защита на личните данни, се счита за съгласие предоставените в акаунта Ви данни да бъдат свободно обменяни между <strong>Е-Матрикс ООД</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>