<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Общи условия</h2>
    <div class="terms-and-conditions-title">
        <p><strong>Уважаеми клиенти,</strong></p>
        <p>Моля, прочетете внимателно общите условия за пазаруване чрез магазина за електронна търговия.</p>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Общи
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Настоящият документ съдържа Общи условия, съгласно които ТЪРГОВЕЦЪТ предоставя услуги на
                        потребителите/клиентите си посредством Интернет магазина на <strong>Е-Матрикс ООД</strong>.
                    </li>
                    <li>Тези условия обвързват всички потребители. С натискане на бутона Аз съм съгласен,
                        потребителят/клиентът се съгласява, изцяло приема и се задължава да спазва настоящите Общи
                        условия
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q2" data-bs-toggle="collapse" aria-expanded="false">
            Продукти
        </div>
        <div class="collapse" id="q2">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Онлайн магазинът <strong>Е-Матрикс ООД</strong> предлага богата гама от електронни компоненти с
                        гарантирано качество.
                    </li>
                    <li>Публикуваните на сайта описания на предлаганите стоки са с информативна цел. Възможно е да бъдат
                        допуснати технически грешки.
                    </li>
                    <li>Продуктите, които се намират на интернет страницата на <strong>Е-Матрикс ООД</strong> не
                        представляват правно обвързваща оферта, а са по-скоро демонстративен онлайн каталог, описващ
                        продуктовата линия на търговеца.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q3" data-bs-toggle="collapse" aria-expanded="false">
            Цени и промоции
        </div>
        <div class="collapse" id="q3">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Всички представени на сайта/онлайн магазина цени са в български лева и са валидни единствено и
                        само към момента на публикуването им, като <strong>Е-Матрикс ООД</strong> си запазва правото,
                        без предупреждение, да ги променя по всяко време.
                    </li>
                    <li>Цените по потвърдени от <strong>Е-Матрикс ООД</strong> онлайн поръчки са окончателни и не
                        подлежат на промяна.
                    </li>
                    <li> Представените на сайта/онлайн магазина цени са крайни и включват всички данъци и такси, без
                        цена за обработване и доставка – посочена отделно, в случай, че такава се дължи.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q4" data-bs-toggle="collapse" aria-expanded="false">
            Договор
        </div>
        <div class="collapse" id="q4">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Договорът за продажба от разстояние между <strong>Е-Матрикс ООД</strong> и купувача се счита за
                        сключен след потвърждаване на дадената поръчка от страна на <strong>Е-Матрикс ООД</strong>.
                    </li>
                    <li>Потвърждаването на сключен с <strong>Е-Матрикс ООД</strong> договор от разстояние, включително
                        на цялата информация по чл. 47, ал. 1 от ЗЗП, се извършва на предоставената от купувача
                        електронна поща.
                    </li>
                    <li>
                        <strong>Срокове и условия:</strong>
                        <ol type="1">
                            <li>Стоките, поръчани от <strong>Е-Матрикс ООД</strong>, се доставят в срок от <strong>1 до
                                    3</strong> работни дни след получаване на плащането по поръчката.
                            </li>
                            <li>В случай на липса на наличност на поръчан продукт, клиентът ще бъде уведомен в рамките
                                на горепосочения срок.
                            </li>
                            <li><strong>Е-Матрикс ООД</strong> не носи отговорност за забавяне на доставката, когато
                                това се дължи на куриерската фирма, неправилно подаден адрес или форсмажорни
                                обстоятелства.
                            </li>
                            <li>След получаване на доставката, клиентът или упълномощено от него лице е длъжен незабавно
                                да извърши внимателен преглед на стоките.
                            </li>
                            <li>При установяване на видими несъответствия като посочените клиентът трябва незабавно да
                                уведоми куриера или <strong>Е-Матрикс ООД</strong>:
                                <ol>
                                    <li class="lower-alpha-li">Стока, която не отговаря на заявената</li>
                                    <li class="lower-alpha-li">Повредена или нарушена опаковка</li>
                                    <li class="lower-alpha-li">Транспортни повреди</li>
                                    <li class="lower-alpha-li">Липса на аксесоари или съпътстващи документи</li>
                                </ol>
                            </li>
                            <li>При наличие на щети, възникнали по време на транспортиране,
                                <strong>Е-Матрикс ООД</strong> не носи отговорност за гаранционното обслужване на
                                съответната стока.
                            </li>
                            <li>В случай, че потребителя/клиента или упълномощено от него лице не направи оглед на
                                получената стока (вид, количество, опаковка) и не предяви претенции, стоката се смята за
                                одобрена, и потребителят губи право да претендира на по-късен етап.
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q5" data-bs-toggle="collapse" aria-expanded="false">
            Права и задължения на клиента
        </div>
        <div class="collapse" id="q5">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Клиентът се задължава да посочи точен и валиден телефон, адрес за доставка и електронен адрес,
                        да плати цената на стоката, да заплати разходите по доставката, когато същата не е безплатна и
                        да осигури достъп и възможност за получаване на стоката.
                    </li>
                    <li>В случай, че изрично не е посочено, че доставката е безплатна, същата се счита за възмездна.
                    </li>
                    <li>Клиентът не може да прави фиктивни поръчки, не може да дава измислени отзиви за даден продукт
                        или друга невярна информация.
                    </li>
                    <li>Клиентът има право да получи поръчаните от него продукти, да се откаже от тях в срок от седем
                        работни дни от датата на доставка, спазвайки изискванията на Закона за защита на потребителите.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q6" data-bs-toggle="collapse" aria-expanded="false">
            Права и задължения на <strong>Е-Матрикс ООД</strong>
        </div>
        <div class="collapse" id="q6">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Ние сме длъжни да спазваме стриктно Закона за защита на личните данни.</li>
                    <li>Ние сме длъжни да защитаваме предоставената ни от клиента информация.</li>
                    <li>Ние сме длъжни да доставим поръчаните продукти в договорения срок на посочения адрес.</li>
                    <li>Ние имаме право да не доставим поръчаните продукти при посочени неверни адрес и/или телефон.
                    </li>
                    <li>Ние не носим отговорност за информацията, предоставена от производителя на стоката.</li>
                    <li>Ние не носим отговорност за каквото и да е забавяне или невъзможност да изпълним задълженията си
                        при възникване на обстоятелства, независещи от нас (форсмажор).
                    </li>
                    <li>Ние не носим отговорност за възможни разлики в цветовете на закупените стоки, дължащи се на
                        различните видове екрани и техните настройки.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q7" data-bs-toggle="collapse" aria-expanded="false">
            Бисквитки
        </div>
        <div class="collapse" id="q7">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>
                        Какво са “бисквитки” (cookies)?
                        <ol type="1">
                            <li>„Бисквитката“ е кратка текстова информация, изпратена до браузъра ви от посетен от Вас
                                уебсайт.
                            </li>
                            <li>Помага на сайта да запомни информация за посещението Ви и настройките Ви.</li>
                            <li>Улеснява следващото Ви посещение и прави сайта по-полезен за Вас.</li>
                        </ol>
                    </li>
                    <li>
                        За какво се използват бисквитките?
                        <ol type="1">
                            <li>Запомняне на предпочитания и настройки: изглед, шрифт, език.</li>
                            <li>Предлагане на релевантни реклами според интересите Ви.</li>
                            <li>Водене на статистика за посещенията на страниците.</li>
                            <li>Запомняне на логин сесии.</li>
                            <li>Събиране на информация за взаимодействие с уебсайта: най-посещавани страници, съобщения за
                                грешки, навигация и др.
                            </li>
                            <li>Анализ за подобряване на услугите и работата на сайта.</li>
                        </ol>
                    </li>
                    <li>
                        Видове бисквитки
                        <ol type="1">
                            <li>
                                <strong>Сесийни бисквитки (Session Cookies):</strong>
                                <ul>
                                    <li class="lower-alpha-li">Разпознават Ви по време на еднократно посещение.</li>
                                    <li class="lower-alpha-li">Персонализациите се запомнят между страниците.</li>
                                    <li class="lower-alpha-li">Изтриват се, когато затворите браузъра или сайта.</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Постоянни бисквитки (Persistent Cookies):</strong>
                                <ul>
                                    <li class="lower-alpha-li">Остават запаметени за определен период след сесията.</li>
                                    <li class="lower-alpha-li">Позволяват запомняне на предпочитанията Ви при бъдещи посещения.</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Бисквитки на трета страна (Third Party Cookies):</strong>
                                <ul>
                                    <li class="lower-alpha-li">Използват се за отчитане на ефективността на сайта и рекламите.</li>
                                    <li class="lower-alpha-li">Анализират се демографски данни, интереси, продължителност на сесиите и др.</li>
                                    <li class="lower-alpha-li">Този сайт използва Google Analytics – услуга за анонимна уеб статистика.</li>
                                    <li class="lower-alpha-li">Използва се само за статистика и разпознаване на грешки.</li>
                                    <li class="lower-alpha-li">Не се разкрива информация на трети страни.</li>
                                    <li class="lower-alpha-li">Не се използват за други цели освен описаните.</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>
                        Как да контролирате бисквитките?
                        <ol type="1">
                            <li>Можете да контролирате и/или изтривате бисквитки по всяко време.</li>
                            <li>Посетете <a href="https://www.allaboutcookies.org" target="_blank">AllAboutCookies.org</a>
                                за повече информация.
                            </li>
                            <li>Можете да изтриете всички или избрани бисквитки от компютъра си.</li>
                            <li>Можете да настроите браузъра си да блокира бисквитки.</li>
                            <li>При блокиране някои функции и услуги може да не работят коректно.</li>
                        </ol>
                    </li>
                    <li><strong>Забележка:</strong> Затваряйки уведомлението или продължавайки да използвате сайта, Вие
                        се съгласявате с използването на бисквитки от наша страна.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q8" data-bs-toggle="collapse" aria-expanded="false">
            Други
        </div>
        <div class="collapse" id="q8">
            <div class="card card-body">
                <ul class="policy-list">
                    <li><strong>Е-Матрикс ООД</strong> има право да променя едностранно всички условия за доставка на предоставяните стоки и каквато и да било друга информация, публикувана на Сайта без предварително уведомление до Потребителя.
                    </li>
                    <li><strong>Е-Матрикс ООД</strong> си запазва правото да изпраща на Потребителя съобщения, свързани с нови продукти и услуги, с промоции и/или с промени в условията и начините за доставка на предоставяните стоки и каквато и да било друга информация, публикувана на Сайта.
                    </li>
                    <li>
                        Въпроси, запитвания и консултации на Потребителя могат да бъдат извършвани в рамките на работното време <strong>Понеделник – Петък: 09:00 – 18:30 ч. (с изключение на официалните празници)</strong>:
                        <ol type="1">
                            <li>По телефон: 0878 78 36 35</li>
                            <li>По имейл: <a href="mailto:info@e-matrix.bg" style="white-space: nowrap;"><strong>info@e-matrix.bg</strong></a></li>
                            <li>Чрез <a href="#" onclick="loadPartial()">формата</a> за въпроси и запитвания в сайта</li>
                        </ol>
                    </li>
                    <li>Настоящите Общи условия могат да бъдат актуализирани по всяко време, като публикуването им на Сайта се счита за уведомяване на потребителите за измененията.</li>
                    <li>При използване на Сайта на <strong>Е-Матрикс ООД</strong>, Потребителите се задължават да спазват настоящите Общи условия, както и приложимото за предоставяните на Сайта стоки и услуги законодателство на Република България, включително и международното законодателство.</li>
                    <li>ПОТРЕБИТЕЛЯТ СЕ СЪГЛАСЯВА С УСЛОВИЯTA ЗА ИЗПОЛЗВАНЕ УСЛУГИТЕ НА <strong>Е-Матрикс ООД</strong>
                        С НАТИСКАНЕ (КЛИКВАНЕ) НА ВСЕКИ ЕДИН ОБЕКТ, ЛИНК ИЛИ БУТОН НА САЙТА НА <strong>Е-Матрикс ООД</strong>, КАКТО И С ЛИНКА КЪМ НАСТОЯЩИТЕ ОБЩИ УСЛОВИЯ И СЕ СЧИТА, ЧЕ Е ЗАПОЗНАТ С ОБЩИТЕ УСЛОВИЯ, ПРИЕМА ГИ И СЕ ЗАДЪЛЖАВА ДА ГИ СПАЗВА.
                    </li>
                    <li>Координатите за връка с <strong>Е-Матрикс ООД</strong> :
                        <ol type="1">
                            <li>Адрес: България, Варна, Калофер 1 (вход на магазина към бул. „Владислав Варненчик“ 140)</li>
                            <li>Телефон за връзка: 0878783635</li>
                            <li>Имейл за контакти: <a href="mailto:info@e-matrix.bg" style="white-space: nowrap;"><strong>info@e-matrix.bg</strong></a></li>
                        </ol>
                    </li>
                    <li>При възникване на спор, свързан с покупка онлайн можете да се обърнете към съответните органи за
                        <a href="https://www.mi.government.bg" style="white-space: nowrap;"><strong>алтернативно решаване на спорове (АРС)</strong></a>
                        или да използвате сайта за
                        <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&lng=BG" style="white-space: nowrap;"><strong>онлайн решаване на спорове (ОРС)</strong></a>.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>