<link rel="stylesheet" href="~/css/privacy-customization.css" asp-append-version="true"/>

<div class="container-fluid mt-3 partials-container">
    <h2 class="section-title">Гаранция и рекламации</h2>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q1" data-bs-toggle="collapse" aria-expanded="false">
            Замяна на закупена стока
        </div>
        <div class="collapse" id="q1">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Ако клиента по някаква причина желае да замени закупения от него продукт, той има право да го направи, като в този случай разходите за връщане на продукта и изпращане на новозаявения са за сметка на клиента.</li>
                    <li>Ако има разлика в стойността на новата и старата поръчка, то тя се компенсира. Клиентът има право да откаже приемането на пратката, ако сумата, която следва да заплати на куриера не съответства на дължимата. В този случай, молим клиента да се свърже незабавно с <strong>E-matrix.bg</strong> чрез имейл <a href="mailto:info@e-matrix.bg" style="white-space: nowrap;"><strong>info@e-matrix.bg</strong></a> или телефон за връзка за отстраняване на несъответствието.</li>
                    <li>Ако при самото получаване на стока, тя е с нарушена/разпокъсана опаковка поради неправилно транспортиране или има липси, рекламацията и застраховката ще бъдат уважени само в присъствието на куриера. В този случай незабавно се свържете с нас или откажете да приемете стоката.</li>
                    <li>Рекламацията се удостоверява със запис в товарителницата от получателя. Изготвя се констативен протокол, в който е описано констатираното състояние на пратката и нейната опаковка.</li>
                    <li>В случай че клиента вземе пратката на своя отговорност и не предяви своите претенции пред куриера, рекламацията е недействителна.</li>
                    <li>Магазинът не поема разходите по връщането на стоката, ако клиентът се откаже от нея.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q2" data-bs-toggle="collapse" aria-expanded="false">
            Условия за рекламация
        </div>
        <div class="collapse" id="q2">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>При скрити дефекти (производствени несъответствия, разлика в параметри, деформирани или окислени изводи без да е направен монтаж и др.)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q3" data-bs-toggle="collapse" aria-expanded="false">
            Процедура за подаване на рекламация
        </div>
        <div class="collapse" id="q3">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Клиентът може да подаде рекламация в писмен вид в срок от <strong>14 дни</strong>, като попълни <a href="#" onclick="loadPartial()">формата за обратна връзка</a>.</li>
                    <li>В срок от три работни дни <strong>Е-Матрикс ООД</strong> ще отговори за следващите действия по рекламацията.</li>
                    <li>Повредена стока се заменя с друга, която е напълно годна. А ако това не е възможно (например ако стоката не е в наличност), магазинът ще Ви възстанови цялата стойност или ще Ви предостави възможност да изберете друг наличен продукт от магазина.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q4" data-bs-toggle="collapse" aria-expanded="false">
            Търговска гаранция
        </div>
        <div class="collapse" id="q4">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Търговска гаранция е всяко задължение, поето от търговеца или производителя към потребителя в допълнение към неговото задължение по този закон да осигури съответствие на стоката с договора за продажба, да възстанови заплатената сума или да замени или поправи стоката, или да предостави друг вид обслужване, свързано със стоката, когато тя не отговаря на спецификациите или евентуално на други изисквания, несвързани със съответствието на стоката с договора за продажба, посочени в заявлението за предоставяне на търговска гаранция или в съответната реклама, направена в момента на сключване или преди сключване на договора.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q5" data-bs-toggle="collapse" aria-expanded="false">
            Гаранционна карта
        </div>
        <div class="collapse" id="q5">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Голяма част от продуктите имат специфична гаранция, за което се прилага гаранционна карта.</li>
                    <li>С всяка доставка на стоки, подлежащи на гаранционно обслужване, <strong>E-matrix.bg</strong> издава и предоставя на Потребителя надлежна гаранционна карта с нанесени данните за стоката и гаранционните срокове, както и посочени всички условия на предоставената търговска гаранция, ако има такава.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q6" data-bs-toggle="collapse" aria-expanded="false">
            Случаи на невалидна гаранция
        </div>
        <div class="collapse" id="q6">
            <div class="card card-body">
                <ul class="policy-list">
                    <li><strong>ВАЖНО:</strong> Електронните компоненти и резервни части нямат гаранция и не подлежат на рекламация, освен в случайте, когато е установен дефект по тях без да е извършван монтаж чрез запояване.</li>
                    <li>
                        Потребителят не може да се позове и губи правата си по предоставената Търговска гаранция:
                        <ol>
                            <li>В случай на изгубена гаранционна карта;</li>
                            <li>При опит за извършване на ремонт и отстраняване на несъответствие от неоторизирано от <strong>E-matrix.bg</strong> лице или сервизен център;</li>
                            <li>В случай на повреди, причинени от неправилна експлоатация;</li>
                            <li>В случай на нарушаване на физическата цялост на продукта;</li>
                            <li>В случай на химическо, електрическо и/или друго въздействие, несвързано с нормалната експлоатация на продукта;</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-1">
        <div class="list-group-item collapsed"
             data-bs-target="#q7" data-bs-toggle="collapse" aria-expanded="false">
            Ограничения на търговската гаранция
        </div>
        <div class="collapse" id="q7">
            <div class="card card-body">
                <ul class="policy-list">
                    <li>Предоставената за продукта търговска гаранция не покрива компоненти на продукта с ограничен срок на годност (батерии, консумативи и др.). </li>
                    <li>Гаранционното обслужване се извършва само и единствено в посочените на гаранционната карта сервизни центрове, при наличие на пълна документация и окомплектовка на продукта.</li>
                    <li>Продуктите и услугите, посочени в този Сайт, са ограничени само до посочените в Сайта Общи условия и информация, без да бъдат осигурявани каквито и да било гаранции извън посочените, включително търговски и целеви.</li>
                    <li>Задълженията на <strong>E-matrix.bg</strong> по отношение на продуктите и услугите, които се предлагат в този Сайт, се регламентират от съответните споразумения с вносителите и/или дистрибуторите на представяните продукти.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

