
@{
    ViewData["Title"] = "Контролен Панел";
    ViewData["ActiveTab"] = "Home";
}

<div class="container">
    <!-- Tabs -->
    @await Html.PartialAsync("_AdminPanelTabsPartial")

    <div class="wrapper">
        <p>ADMIN SHIT</p>
    </div>
</div>



    <a href="@Url.Action("GetMenuManagement")">Menu Management</a>